@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveIt {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "WasserCustomFont";
  src: url("fonts/Wasser-qBV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OverwaveCustomFont";
  src: url("fonts/Overwave-AL6AL.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CSJuicyCustomFont";
  src: url("fonts/CsJuicy-51XYa.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WilkerCustomFont";
  src: url("fonts/Wilker-drVwl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  height: 100%;
  background-image: url("Media/Cropped1.gif");
  background-size: cover;
  background-attachment: fixed;
  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.wrapper {
  padding-top: 2rem;
}

.wrapperContent {
  margin: auto;
  width: 60rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: #A9DEF9 solid 2px;
  border-radius: 2%;
  box-shadow: 0 0 15px #A9DEF9;
}

.iFrame_Embed, .embeddedFrame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  flex-direction: column;
  overflow: auto;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.stickyHeaderWrapper {
  border-radius: 2%;
  overflow: hidden;
  position: sticky;
  border-bottom: 4px solid black;
  padding-bottom: 8px;
}

.stickyHeader {
  font-family: OverwaveCustomFont, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.7rem;
  text-align: center;
  background-size: 120px 120px;
  background-position: left top;
  background-repeat: repeat;
  animation: moveIt 15s linear alternate infinite;
  color: rgb(196, 227, 255);
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 1000;
}
.stickyHeader .headerContent {
  margin-left: 30%;
  margin-right: 30%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  outline: black solid 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}
.stickyHeader .headerContent h2 {
  margin: 0;
}

.leftContainer,
.rightContainer {
  position: sticky;
  top: 0;
  width: 20%;
  height: 100vh;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}
.leftContainer .navContainer,
.rightContainer .navContainer {
  display: flex;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin-left: 0;
  justify-content: center;
  flex-direction: row;
}
.leftContainer .navContainer a,
.rightContainer .navContainer a {
  text-decoration: none;
  color: inherit;
}
.leftContainer .navContainer .navHeader,
.rightContainer .navContainer .navHeader {
  font-family: CSJuicyCustomFont, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.leftContainer .navContainer .navHeader p,
.rightContainer .navContainer .navHeader p {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 600;
}
.leftContainer .navContainer .navSplitItemContainer,
.rightContainer .navContainer .navSplitItemContainer {
  font-family: WilkerCustomFont, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 170px;
  height: 50px;
  flex-direction: row;
}
.leftContainer .navContainer .navSplitItemContainer .navSplitItemImage,
.rightContainer .navContainer .navSplitItemContainer .navSplitItemImage {
  width: 30px;
  height: 30px;
}
.leftContainer .navContainer .navSplitItemContainer .navSplitItemText,
.rightContainer .navContainer .navSplitItemContainer .navSplitItemText {
  margin-left: 5px;
}
.leftContainer .navContainer .navItem,
.rightContainer .navContainer .navItem {
  font-family: WilkerCustomFont, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  display: flex;
  background-image: url("Media/displaytabgreen.png");
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.leftContainer .navContainer .navItem a,
.rightContainer .navContainer .navItem a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.centerContainer {
  width: 100%;
  height: 100%;
  margin: 0 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
.centerContainer .centerRowContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centerContainer .centerRowContainer .centerColumnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centerContainer .centerRowContainer .centerColumnContainer .displayTab {
  width: 95%;
  height: 95%;
  border: #A9DEF9 solid 4px;
  border-radius: 2%;
  box-shadow: 0 0 15px #A9DEF9;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: WasserCustomFont, sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: top;
}
.centerContainer .centerRowContainer .centerColumnContainer .displayTab p {
  font-size: medium;
  margin: 0 10px;
}/*# sourceMappingURL=styles.css.map */