
html, body {
    background-image: url("Media/background.png");
    background-size: 64px 64px;
    background-position: left top;
    background-repeat: repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}
.primary {
    background-color: rgba(232,220,202,0.95);
    color:aliceblue;
    width:80%;
    height:90%;
    padding-left: 256px;
    padding-right: 256px;
}

h1 {
    background-color: rgba(255, 202, 123, 0.856);
    color:rgb(196, 227, 255);
    padding-left: 256px;
    padding-right: 256px;
}